<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    {% if name == 'Bin' %}
    <h1>Hello</h1>
    {% else %}
    <h1>Bye</h1>
    {% endif %}

    <h1>{{ name }}'s todolist</h1>
    <form action="#" method="POST">
        <input type="text" name="new_task">
        <button type="submit">Add</button>
    </form>

    {% for task in todo %}
        <li>
            {{task}}
            <a href="{{url_for('delete', task=task)}}">DELETE</a>
            <a href="{{url_for('update', task=task, text=text)}}">UPDATE</a>
        </li>
    {% endfor %}


  </body>
</html>